* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tv-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.static-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    transition: mask-image 1.5s ease-out;
    /* Transição mais lenta para suavidade */
    mask-image: radial-gradient(circle at var(--mouseX, 50%) var(--mouseY, 50%),
            rgba(255, 255, 255, 0.4) 100px,
            /* Parte transparente no centro */
            rgba(255, 255, 255, 0.9) 400px
            /* Parte opaca nas bordas */
        );
}